extends layout

mixin offerRow(offer)
    .col-8
        p #{offer.title}
    .col-2
        a(href=offer.url) #{I18N.BUY_LINK}
    .col-2
        p #{INTL.FormatCurrency(offer.price, I18N.CURRENCY_SYMBOL)}

block content
    .container
        .row.mb-2.border
            .col-12
                h5 #{product.title}
                nav(aria-label="breadcrumb")
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href="/") #{I18N.HOME_BREADCRUMB_LINK}
                    li.breadcrumb-item.active
                        a(href=`/category/${category.categoryId}`) #{category.title}
                    li.breadcrumb-item.active(aria-current="page") #{product.title}

                .col-3.my-2.float-left
                    +productImage(product)
                p #{product.description}
        
        .row.border
            .col-12
                h5 #{I18N.COMPARE_PRICES_TITLE}
            each offer in firstOffers
                +offerRow(offer)

            if hiddenOffers
                .col-12.text-center
                    a(href="?allOffers=true") #{I18N.NEXT_OFFERS_LINK}
  

        